.modifier {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    // margin: .1rem 0;
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
    .toggle, .value {
        width: 10%;
    }

    .toggle {
        display: flex;
        justify-content: center;
        font-size: 32px;
        .toggle-off {
            fill: rgba(#fff, .5);
        }
    }

    label {
        width: 35%;
        text-overflow: ellipsis;
        overflow-x: clip;
        &.disabled {
            color: rgba(#fff, .5);
        }
    }
    input {
        width: 40%;
    }

}

